.customMenu{
    border-radius: 0rem !important;
    background-color: #ffab73 !important;

}

.customMenuSelected{

    background-color: lightgray !important;
    
    
}

.upload{
    background-color: #f9813a !important;
}

.search{
    color: black !important;
}

.login{
    left: 45%;
    position: fixed !important;
    top: 30%;
    z-index: 1000;
    box-shadow: 0 0 5px 2px  !important;
}


.customRow{
    padding: 0rem !important;
  }
  
.customColumn{
    padding: 0rem !important;
  
  }